<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Training</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <uib-tabset active="active">
        <uib-tab heading="unread">
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="article in $ctrl.articles">
            <li>
              <h4><a href="#">{{article.name}}</a></h4>
              <div class="content" ng-class="{ellips: !article.collapse}" ng-click="article.collapse = !article.collapse">{{article.info}}</div>
            </li>
          </ul>
        </uib-tab>
        <uib-tab heading="good">
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="article in $ctrl.articles | filter: '!as'">
            <li><a href="#" uib-tooltip="{{article.info}}">{{article.name}}</a></li>
          </ul>
        </uib-tab>
        <uib-tab heading="bad">
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="article in $ctrl.articles | filter: 'as'">
            <li><a href="#" uib-tooltip="{{article.info}}">{{article.name}}</a></li>
          </ul>
        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>
