<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Training</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <uib-tabset active="active">
        <uib-tab heading="unread">
          <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-hide="article.hide" ng-repeat="article in $ctrl.articles">
            <article article="article"></article>
          </div>
        </uib-tab>
        <uib-tab heading="good">
          <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="article in $ctrl.articles | filter: {isLike: true}">
            <article article="article"></article>
          </div>
        </uib-tab>
        <uib-tab heading="bad">
          <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="article in $ctrl.articles | filter: {isLike: false}">
            <article article="article"></article>
          </div>
        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>
